# Environment variables
.env
.env.*
!.env.example

# Virtual environments
.venv/
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Project specific
uploads/
data/

# OS specific
.DS_Store
Thumbs.db

# Database files
*.sqlite
*.db

# IDE specific
.vscode/
.idea/

# Distribution/packaging
dist/
build/
*.egg-info/